<footer class="site-footer">
  <div class="container">
    <div class="site-footer__content">
      <h3>Get <span class="brand-color">Wastely</span> for iPhone and Android</h3>
      <button type="button" name="button">Download</button>
      <hr>
      <p>
        Wastely is a concept app used as a submission to the Hyper Island 2017 Community challange. Questions? Email <a href="mailto:hej@samuellie.se">hej@samuellie.se</a>.
      </p>
    </div>
  </div>
</footer>
