.text {
  display: flex;
  flex-direction: column;
  margin-bottom: $base-spacing;

  @include breakpoint($medium-screen) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.text__column {
  flex: 1 1 auto;
  margin-bottom: $base-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($medium-screen) {
    flex: 0 0 span(6);

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
