---
title: Wastely
---

<div class="hero">
  <div class="container">
    <div class="hero__content">
      <h1>Combat food waste</h1>
      <h2>Save money</h2>
      <p class="hero__content__text">Wastely is an app that lets you get notified about soon to spoiled and asethetically second-grade food that are sold at a heavily discounted price in stores close to you.</p>
      <button type="button">Download</button>
      <a class="hero__content__link" href="#">or are you a business? Add your discounted wares to Wastely!</a>
    </div>
  </div>
</div>

<article class="article article--grey">
  <div class="text container">
    <div class="text__column">
      <h3>Food waste is big</h3>
      <p>Each year approximately a third of produced food is lost or wasted globally according to the <a target="_blank" href="http://www.fao.org/food-loss-and-food-waste/en/">UN</a>. This happens while hunger is still one of the biggest challenges for parts of the world. Retailers and consumers are responsible for a part of the food waste, throwing away food that didn't get sold and spoiled in-store or throwing away food that aren't aesthatically pleasing.</p>
    </div>
    <div class="text__column">
      <h3>We aim to minimize it</h3>
      <p>We provide retailers and customers a solution to minimize retail food waste. By providing a system for retailers to directly notify customers interested in soon to be spoiled and aesthetically second-grade food wares we make it easier for retailers to sell wares that otherwise would be wasted. Consumers benefit as well, as they are able to buy these wares for a discounted price. <strong>Everybody wins, and with lower food waste distributors can focus on getting food to where it is desperately needed.</strong></p>
    </div>
  </div>
</article>

<section class="container">
  <div class="feature">
    <div class="feature__header">
      <h1>This is how it works</h1>
    </div>
    <div class="feature__secondary-content">
      <img class="feature__image" src="/images/select-food.jpg" alt="Select wanted food wares">
    </div>
    <div class="feature__primary-content">
      <h3>1. Select wanted food wares</h3>
      <p>Do you only eat ready-to-eat frozen pizza? Are you a vegetarian, or do only want fish? No problem! Just select the food wares you are interested in and we will automatically find discounts for these.</p>
    </div>
  </div>

  <div class="feature">
    <div class="feature__secondary-content">
      <img class="feature__image" src="/images/discounts.jpg" alt="Check available discounts">
    </div>
    <div class="feature__primary-content">
      <h3>2. Check available discounts</h3>
      <p>Wastely shows all available discounts on soon to be spoiled and aesthetically second-grade food close to you. See the discount and get directions directly to the store. Start combating food waste, it's easy and cheap!</p>
    </div>
  </div>

  <div class="feature">
    <div class="feature__secondary-content">
      <img class="feature__image" src="/images/notifications.jpg" alt="Get notified about new discounted wares">
    </div>
    <div class="feature__primary-content">
      <h3>3. Get notified about new discounted wares</h3>
      <p>If you want to, we can also notify you if new wares are available for discount. That way you can make sure you will always be able to get the last salami pizza!</p>
    </div>
  </div>
</section>
